* {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
  color: #fff;
  box-sizing: border-box;
  cursor: pointer;
}
html,
body {
  width: 100%;
  height: 100%;
  /* perspective:100px; */
}
*::selection {
  background: #fff;
  color: #95cc1e;
}

body::-webkit-scrollbar {
  display: block;
  width: 8px;
  background: #95cc1e;
}
body::-webkit-scrollbar-thumb {
  display: block;
  border-radius: 50px;
  background: white;
}
#nav {
  width: 100%;
  /* height:140px; */
  background: rgba(95, 94, 94, 0.261);
  /* backdrop-filter:blur(10px); */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
  padding: 50px 150px;
  position: fixed;
  margin-top: -25px;
  z-index: 99;
}

#nav img {
  height: 75px;
}

#nav h4 {
  font-weight: 600;
  font-size: 20px;
}

#nav h4:hover {
  color: #95cc1e;
}

#cursor {
  width: 25px;
  height: 25px;
  background-color: #95cc1e;
  border-radius: 50%;
  position: fixed;
  z-index: 99;
}

#cursor-blur {
  height: 400px;
  width: 400px;
  background: #aedb3147;
  border-radius: 50%;
  position: fixed;
  filter: blur(50px);
  z-index: 9;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}

#main {
  position: relative;
  overflow: hidden;
  width: 100%;
}
#page1 {
  height: 100vh;
  width: 100%;
  background-color: #0000007d;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background:red; */
  z-index: 10;
}

#page1 h1 {
  font-size: 140px;
  font-weight: 900;
  position: relative;
  font-family: "montserrat Black";
}
#page1 h1::before {
  content: "EAT.DRINK.PLAY.";
  position: absolute;
  color: #000;
  top: -9px;
  left: -10px;
  font-size: 142px;
  -webkit-text-stroke: 3px #aedb31;
  z-index: -1;
}

#page1 h2 {
  font-size: 30px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: "montserrat Black";
}
#page1 p {
  font-size: 25px;
  font-weight: 300;
  width: 50%;
  text-align: center;
}
#page1 #arrow {
  height: 250px;
  width: 250px;
  position: absolute;
  left: -2%;
  top: 15%;
  /* background: red; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index:99;
  background: transparent;
  border: 5px solid #95cc1e;
  transition: all ease 0.5s;
}

#page1 #arrow:hover {
  scale: 0.4;
  background-color: #95cc1e;
}
#page1 #arrow i {
  font-size: 50px;
  font-weight: 300;
}

#page2 {
  min-height: 100vh;
  width: 100%;
  background-color: #000000c9;
  z-index: 10;
}
#scroller {
  white-space: nowrap;
  /* background: red; */
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
  z-index: 10;
}
#scroller-in {
  display: inline-block;
  white-space: nowrap;
  animation-name: scroll;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-delay: 0.3;
  animation-iteration-count: infinite;
}

#scroller h4 {
  display: inline-block;
  font-size: 120px;
  font-weight: 800;
  margin-right: 20px;
  font-family: "montserrat Black";
  color: transparent;
  transition: all ease 0.5s;
  -webkit-text-stroke: 2px #aedb31;
}
#scroller h4:hover {
  color: #95cc1e;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#aboutus {
  height: 40vh;
  width: 100%;
  /* background: red; */
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 50px;
}
#aboutus-in {
  width: 50%;
  text-align: center;
}

#aboutus-in h3 {
  font-size: 54px;
  font-weight: 800;
  font-family: "montserrat Black";
  margin-bottom: 40px;
}
#aboutus-in p {
  font-size: 26px;
  /* word-spacing:10px; */
  /* width:130%; */
  line-height: 30px;
}
#aboutus img {
  height: 260px;
  width: 230px;
  border-radius: 50px;
  object-fit: cover;
}

#cards-container {
  /* background: red; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.card {
  height: 80%;
  width: 25%;
  background: blue;
  border-radius: 20px;
  z-index: 10;
  overflow: hidden;
  transition: all ease 0.6s;
}

#card1 {
  background-image: url("https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer.jpg?strip=all&lossy=1&sharp=1&ssl=1");
  background-position: center;
  background-size: cover;
}

#card2 {
  background-image: url("https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4.jpg?strip=all&lossy=1&sharp=1&ssl=1");
  background-position: center;
  background-size: cover;
}
#card3 {
  background-image: url("https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons.jpg?strip=all&lossy=1&sharp=1&ssl=1");
  background-position: center;
  background-size: cover;
}

.overlay {
  width: 100%;
  height: 100%;
  padding: 30px;
  background: #95cc1e;
  padding-top: 160px;
  opacity: 0;
  transition: all ease 0.6s;
  text-align: center;
}

.card:hover .overlay {
  opacity: 1;
}

.overlay h4 {
  color: #000;
  font-size: 40px;
  font-weight: 800;
  white-space: nowrap;
  margin-bottom: 20px;
  font-family: "montserrat Black";
}

.overlay p {
  color: #000;
  font-size: 30px;
  font-family: "montserrat Regular";
}
.card:hover {
  transform: rotate3d(-1, 1, 0, 25deg);
}

#green-div {
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: linear-gradient(#4db01b, rgb(160, 231, 7));
}

#green-div h4 {
  color: #000;
  width: 50%;
  font-size: 40px;
  font-family: "montserrat Black";
  text-align: center;
}

#green-div img {
  height: 100%;
  width: 12%;
  object-fit: cover;
}

#page3 {
  width: 100%;
  min-height: 100vh;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#page3 > h4 {
  font-size: 35px;
  font-weight: 600;
  width: 60%;
  text-transform: uppercase;
  text-align: center;
  font-family: "montserrat Black";
  line-height: 45px;
}

#page3 img {
  position: absolute;
  height: 80px;
}

#page3 #col-1 {
  left: 10%;
  top: 35%;
}

#page3 #col-2 {
  right: 12%;
  bottom: 40%;
}

#page4 {
  height: 60vh;
  width: 100%;
  background: rgb(0, 0, 0);
  /* background:blueviolet; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 70px;
  position: relative;
}

#page4 h1 {
  font-size: 90px;
  font-weight: 900;
  color: #000;
  position: absolute;
  top: -17%;
  -webkit-text-stroke: 3px #fff;
}

.elem {
  width: 27%;
  height: 43%;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}
.elem h2 {
  width: 100%;
  height: 100%;
  background: #95cc1e;
  font-size: 36px;
  color: #000;
  font-family: "montserrat Black";
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 0.5s;
  position: absolute;
  z-index: 10;
}

.elem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  scale: 1.1;
  transition: all ease 0.5s;
}
.elem:hover h2 {
  color: #fff;
  background: transparent;
}

.elem:hover img {
  scale: 1;
}

#footer {
  height: 40vh;
  width: 100%;
  background: linear-gradient(to left bottom, #47b431, #85cf29);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 150px;
  padding: 0 50px;
}

#footer > img {
  position: absolute;
  left: 0;
  height: 100%;
  z-index: 0;
}
#f1 img {
  height: 100px;
}
#f1,
#f2,
#f3,
#f4 {
  width: fit-content;
  position: relative;
  /* left:10%; */
  z-index: 99;
  /* background-color: red; */
}
#f2 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #ffff;
  font-weight: 600;
  margin-bottom: 8px;
}

#f3 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 8px;
}
#f4 h4 {
  font-size: 1vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 8px;
}

#icons {
  width: 200px;
  height: 90px;
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: absolute;
  right: -140%;
  top: -12%;
}

#icons i {
  font-size: 40px;
  font-weight: 500;
}
